* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
}
body {
    width: 100%;
    height: 100vh;
    background-color: white;
    min-width: 930px;
    background-color: #f19236;
    
}
.general{
    width: 100%;
    height: 100%; 
    overflow: hidden;
    display: flex;  
}
.container-superior {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #555855;
}
.logo {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    height: 50px;
    width: 50px;
    right: -25px;
    top: 25px;
}
.title{
    text-shadow: 5px 5px 3px black;
    position: relative;
    top: -25px;
    left: 100px;
    font-size: 35px;
    color: white;
}
.container_atras{
    background-color:#555855;
    width: 10%;
    line-height: 85px;
    text-align: center;
}
.pagprinc{
    background-color: #555855;
    font-size: 20px;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
.pagprinc:hover{
    background-color: #4a4a4a;
}

.container_medio{
    background-color: #f19236;
    position: relative;
    width: 100%;
    height: 100vh;
}
.titulo{
    display: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.registrarse{
    top: -25px;
    left: 100px;   
}
h2 {
    font: Tahoma;
    color: black;
    font-size: 40px;
    line-height: 1.3em;
    text-align: center;
}
.container_formulario{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    width: 50%;
    height: 70%;
    border-radius: 5%;
}
.form{
    width: 100%;
    height: auto;
    margin-left: 25vm;
    padding: 30px;
    padding-top: 40px;
    box-shadow: 0 0 1rem rgba(9, 0, 0, 3);
    background-color: rgba(228, 179, 147, 0.479);
    border-radius: 5px;
}
label{
 font-size: 24px;
 color: #181616;
 font-weight: 500;
}
input{
    margin-top: 1%;
    background: none;
    width: 100%;
    height: 30px;
    color: black;
    border: none;
    outline: 0px;
    border-bottom: 3px solid #c7c7c7;
    font-size: 18px;
}
.lol::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    border-bottom: 3px solid #c7c7c7;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.container_boton{
    text-align: center;    
}
button{
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    font-size: 24px;
    font-family: tahoma;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    color: white;
}
.confirmar{
    background-color: #555855;
}
.cancelar{
    margin-left: 10px;
   background-color:  #555855;
}